<h1><%= @figure.name %></h1>

<label><h3>Title: </h3></label>
<label><%= @figure.title.name %></label>

<label><h3>Landmark: </h3></label>
<label><%= @figure.landmark.name %></label>

<button type="button" name="edit"><a href="/figures/<%= @figure.id %>/edit">Edit</a></button>
